body {
    font-family: 'Domine', serif;
    font-size: 16px;
    color: #hhhhhh;
    padding: 3px;
}

#main {
    padding-top: 2%;
    padding-bottom: 0%;
    padding-left:  2%;
    padding-right: 0%;
    background-color: #ffffff;
    border-radius: 5%;
    position: fixed; 
    top: 15%; 
    left: 60%; 
    width: 35%; 
    height: 75%;
    opacity: 0.7
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}

h1 {
    font-family: 'Domine', serif;
    border-bottom: 3px solid #cc9900;
    border-bottom-width: 10px;
    color: #996600;
    font-size: 30px;
}

h1 {
    font-family: 'Domine', serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}
